*{
  margin: 0%;
padding: 0%;
box-sizing: border-box;

}

:root{
  --text-color: #ef0d50;
  --nav-logo: 'UnifrakturCook', cursive; /*for logo*/
  --text: 'Oswald', sans-serif

}

h1,h2,h3,h4,h5 p{
  font-family: var(--text);
  color: #333333 ;

}
p{

color: #333333 ;
}
.sticky{
  transition: all 0.3s linear;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.9),rgba(255,255,255,0.4 ));

}
.navbar{
  transition: all 0.3s linear;
}
.navbar-brand{
  font-family: var(--nav-logo);
  font-size: 2rem;
}
.active{
  color: var(--text-color) !important;
}
.nav-link{
 font-family: var(--text);
 font-size: 1.2rem;
}


.left-side{
  position: relative;
}

.be-stong{
  position: absolute;
  transform: rotate(-90deg);
  top: 40%;
 left: -38%;
  font-size: 5rem;
  word-spacing: 30px;
  font-family: 'Monoton', cursive;
  z-index: 99;
  background: -webkit-linear-gradient(#000, var(--text-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
   
}

.welcome{
  color:var(--text-color);
}
.span{
  width: 60px;
  height: 60px;
  border: 5px solid var(--text-color);
  
}
.bg-img{
  object-fit: cover;
  transform: translateY(-90px);
}
.right-side{
  margin-top: 150px !important;
}

/* sidenav  */
.side-nav{
  position: fixed;
  left: 1%;
  top: 37%;
background: rgb(255, 255, 255);
box-shadow:0px 0px 3px -2px black;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
overflow: hidden;
width: 0;
z-index: 111;
padding: 20px 10px;  
border-radius: 5px;
transition: all 0.3s linear;
cursor: pointer;
}

.side-nav:hover{
  width: 50px;
  padding: 20px 10px;
}
.side-nav:hover a{
  transform: translateX(0);
}
.side-nav a{
list-style: none;
font-weight: 400;
font-size: 1.3rem;
transform: translateX(-30px);
transition: all 0.6s linear;
padding: 5px 0;
cursor: pointer;
}
.side-nav .youtube{
  color: var(--text-color);
}
.be-healthy{
  font-size: 5rem;
  word-spacing: 30px;
  font-family: 'Monoton', cursive;
  color: var(--text-color);
}

/* BMI section */

/* Go to components - components-css - Bmi.css */

/* contact us page */

/* ---pages - css - contact.css */

/* wieght section */
.img-lf{
  height: 400px;
}
.hover{
  height: 400px;
  object-fit: cover;
  background-color: red;
  z-index: 1;
  background: url(../images/over6-min.jpg);
  background-size: cover;
  background-position: 0;
  position: relative;
  transition: all 0.3s linear;
  overflow: hidden;
}
.hover-div{
  position: absolute;
  width: 50%;
  height: 100%;
  background: #ef0d5175;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
  transition: all 0.3s linear;
  top: 100%;
}
.hover-div2{
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background: #ebc2cf75;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
  transition: all 0.3s linear;
  top: 100%;
}
.hover:hover .hover-div{
visibility: visible;
top: 0%;
transition: all 0.5s linear;
}
.hover:hover .hover-div2{
  visibility: visible;
  top: 0%;
  transition: all 0.3s linear;
 }

@media only screen and (max-width: 1400px) {

  .be-healthy{
      font-size: 3rem;
      word-spacing: 30px;
      font-family: 'Monoton', cursive;
      color: var(--text-color);
  }

  }
  /* card of Gainweight */
  

/* ends here */
/* footer section */

/* ends here */
/* navbar for mobile */
.buttom-nav{
  display: none;
  width: 100%;

  position: fixed;
bottom: 0%;
  left: 0%;
  z-index: 111;
  background-color: #fff;

}
.buttom-nav i{
  padding: 0 1rem;
  color: var(--text-color);
}

@media only screen and (max-width: 986px) {

.buttom-nav{
   display: flex;
   justify-content: center; 
}
.links{
  display: none;
}
}
.home{
  width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 9px;

}
::-webkit-scrollbar-thumb{
background-color: rgb(149, 148, 149);
border-radius: 15px;
}
/* loading component */
.loading{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}
.circle{
position: absolute;
  width: 100px;
  height: 100px;
  clip-path: circle(50%);
  background: linear-gradient( #ff0,#f0f);
  animation: rocket 1s linear infinite;
  z-index: 2;
}
.loading ion-icon{
  position: absolute;
font-size: 2rem;
color: #fff;
z-index: 111;
transform: rotate(-45deg);
animation: rock 2s  linear infinite;
}
@keyframes rock {
  0%{
margin-top: -10px;

  }

  20%{
      margin-top: 50px;
   }
50%{
  margin-top: -10px;
}

80%{
  margin-top: 50px;
}

100%{
  margin-top: -150px;
}
}
@keyframes rocket {
     0%{
  transform: rotate(0deg);

     }
     100%{
      transform: rotate(360deg);
  }

}
@media only screen and (max-width: 375px) {
  .side-nav a{
   
      font-size: 1rem;
  
     }
  }